.App {
  text-align: center;
  background-color: #8ECAE6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Premade .center{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.Premade .cardContainer {
  align-items: center;
  text-align: center;
}

.Premade .cardTitle {
  text-align: left;
  align-items: left;
}

.Premade .cardPrice {
  padding-left: 0;
  font-weight: bold;
  text-align: left;
  align-items: left;
}
.Premade .cardButton {
  text-align: right;
  align-items: right;
}

.Ambitious {
  padding-left: 5%;
  padding-right: 5%;
}

.Ambitious .Card {
  padding: 0.5%;
  text-align: left;
  align-items: left;
}

.Ambitious .center {
  padding: 0.5%;
  text-align: center;
  align-items: center;
}

.MakeYourOwn {
  padding-left: 5%;
  padding-right: 5%;
}

.OurWork .imageGrid {
  text-align: center;
  align-items: center;
}

.Cart {
  padding-left: 5%;
  padding-right: 5%;
}

.Cart .TitleDes{
  padding: 5%;
  text-align: left;
}

.faqCard {
  margin: 5%;
  padding: 1%;
  text-align: left;
  align-items: left;
}